C:\Users\private\eclipse-workspace-final-project-Filip\personal-workout-app\personal-workout-app\personal-workout-app\personal-workout-app\.project
C:\Users\private\eclipse-workspace-final-project-Filip\personal-workout-app\personal-workout-app\personal-workout-app\personal-workout-app\.classpath
C:\Users\private\eclipse-workspace-final-project-Filip\personal-workout-app\personal-workout-app\personal-workout-app\personal-workout-app\.settings
/target/
