html body {
    background-color: #131619;
}
.center {
    height: 250px;
    left: 50%;
    margin-top: -125px;
    margin-left: -125px;
    position: absolute;
    top: 30%;
    width: 250px;
}
.headingTwo {
    color: white;
    height: 150px;
    left: 50%;
    margin-top: -145px;
    margin-left: -247px;
    position: absolute;
    top: 63%;
    width: 550px;
    font-family: "Arial Black";
    font-size: x-large;
}
.loginContainer, form {
    position: absolute;
    color: #252c33;
    height: 156px;
    left: 50%;
    margin-top: -90px;
    margin-left: -126px;
    top: 66%;
    width: 200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
}
input[type = text], input[type = password] {
    width: 150%;
    padding: 7px;
    margin: 5px 0 22px 0;
    border: #252c33;
    background: #252c33;
}
input[type = text]:focus, input[type = password]:focus{
    background-color: white;
    outline: none;
}
.btn {
    background-color:  #707b86;
    color: white;
    padding: 7px 2px;
    border-style: initial;
    cursor: pointer;
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Helvetica, sans-serif;
    left: 250px;
    top: 110px;
    width: 30%;
    opacity: 0.9;  
}
.btn:hover {
    opacity: 1;
}
a:link {
    text-decoration: none;
    color: white;
    font: "Arial";
    font-size: medium;
}